
.app-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100%;
  padding: 1rem;
  box-sizing: border-box;
}

body {
  background-color: #333;
  color: white;
}

.error-message {
  color: red;
  font-size: 0.9em;
  text-align: center;
}


.app-title {
  font-size: 1.5em;
  margin-bottom: 1rem;
}

.summarize-button {
  width: 100%;
  padding: 0.75em;
  font-size: 1em;
  margin: 1rem 0;
  cursor: pointer;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
}

.summarize-button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

.error-message {
  color: red;
  font-size: 0.9em;
}

/* App.css */
.summary-container {
  max-height: 200px;
  overflow-y: auto;
  text-align: center;
}

.summary-list {
  list-style-type: none;
  padding-left: 0;
}

.summary-item {
  margin-bottom: 0.5rem;
  text-align: left;
}


@media (max-width: 350px) {
  .app-title {
    font-size: 1.2em;
  }

  .summarize-button {
    font-size: 0.9em;
    padding: 0.5em;
  }

  .reading-time {
    font-size: 1em;
    margin-bottom: 1rem;
    /* Se necessario, aggiungi text-align: center; */
  }

  .error-message {
    font-size: 0.85em;
  }
}
